@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.contactform{
    padding: 0 34px;
    padding-top: 24px;
}

.contactform h1{
    /* text-align: center; */
    padding: 12px 0;
}

.contactform div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width: 25vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 14px;
    color: midnightblue;
    margin: 0 3px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}

#form-check input{
    width: 24px;
    margin: 3px 0;
}

.buttons .btn{
    width: 160px;
}